In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("BTC.csv")

In [3]:
df.tail(7)

,Currency,Date,Closing Price (USD),24h Open (USD),24h High (USD),24h Low (USD)
2785,BTC,2021-05-18,43144.471291,46439.336570,46622.853437,42102.346430
2786,BTC,2021-05-19,43196.046480,43559.597561,45850.231665,42469.975570
2787,BTC,2021-05-20,39439.237635,42920.748859,43604.569586,30201.957317
2788,BTC,2021-05-21,39756.089849,36795.422984,42589.863965,35670.948379
2789,BTC,2021-05-22,36921.767808,40685.325138,42278.005178,33594.958899
2790,BTC,2021-05-23,37490.941888,37359.782014,38889.859694,35304.227598
2791,BTC,2021-05-24,34259.548416,37521.890770,38267.299279,31179.690362

In [4]:
data=pd.DataFrame(df["Closing Price (USD)"])
data.rename(columns={'Closing Price (USD)':'Price'},inplace=True)

In [5]:
data

             Price
0       123.654990
1       125.455000
2       108.584830
3       118.674660
4       121.338660
...            ...
2787  39439.237635
2788  39756.089849
2789  36921.767808
2790  37490.941888
2791  34259.548416

[2792 rows x 1 columns]

In [6]:
prediction_days=30
data['Prediction']=data[['Price']].shift(-prediction_days)

In [7]:
data.head(30)

        Price  Prediction
0   123.65499   196.02499
1   125.45500   198.04883
2   108.58483   198.93233
3   118.67466   200.54300
4   121.33866   210.30750
5   120.65533   225.02000
6   121.79500   248.25333
7   123.03300   262.32666
8   124.04900   294.48699
9   125.96116   331.10325
10  125.27966   285.88750
11  125.92750   304.97974
12  126.38333   338.13700
13  135.24199   357.48000
14  133.20333   402.95400
15  142.76333   409.10375
16  137.92333   420.21649
17  142.95166   437.29725
18  152.55183   510.60250
19  160.33883   693.65000
20  164.31499   531.54249
21  177.63333   574.71599
22  188.29716   681.33000
23  200.70166   774.18000
24  180.35500   746.19374
25  175.03166   768.84750
26  177.69650   789.36475
27  187.15983   893.18150
28  192.75666   934.35500
29  197.40000  1068.36300

In [8]:
data.tail(7)

             Price  Prediction
2785  43144.471291         NaN
2786  43196.046480         NaN
2787  39439.237635         NaN
2788  39756.089849         NaN
2789  36921.767808         NaN
2790  37490.941888         NaN
2791  34259.548416         NaN

In [9]:
X = np.array(data.drop(['Prediction'],1))
X=X[:len(data)-prediction_days]
print(X)

[[  123.65499   ]
 [  125.455     ]
 [  108.58483   ]
 ...
 [54144.42747606]
 [51965.05955941]
 [50669.14438218]]

In [10]:
Y = np.array(data.drop(['Price'],1))
Y=Y[:len(data)-prediction_days]

In [11]:
Y

array([[  196.02499   ],
       [  198.04883   ],
       [  198.93233   ],
       ...,
       [36921.76780796],
       [37490.9418876 ],
       [34259.54841587]])

In [12]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y, test_size=0.2)

In [13]:
prediction_days_array=np.array(data.drop(['Prediction'],1))[-prediction_days:]

In [14]:
from sklearn.svm import SVR
svr_rbf=SVR(kernel='rbf',C=1e3,gamma=0.0000001)
svr_rbf.fit(X_train,Y_train)

c:\python37\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

SVR(C=1000.0, gamma=1e-07)

In [15]:
svr_rbf_confidence=svr_rbf.score(X_test,Y_test)
svr_rbf_confidence

0.9237838554917326

In [16]:
svm_prediction=svr_rbf.predict(X_test)
a=pd.DataFrame(svm_prediction)
a['actual']=Y_test

In [17]:
a.tail()

                0        actual
548    295.366090    269.260600
549   9285.027216   9172.588333
550  40205.572011  46642.606077
551   7126.550820   4178.603828
552    349.439296    286.688000

In [18]:
svm_prediction_a=svr_rbf.predict(prediction_days_array)
b=pd.DataFrame(svm_prediction_a)
print(b)
print(data.tail(prediction_days))

               0
0   38817.984694
1   41385.269735
2   39257.862817
3   42789.030361
4   41419.472316
5   38809.698693
6   47447.798596
7   47659.850258
8   46076.716779
9   47403.269592
10  39428.040951
11  47400.708651
12  46397.282632
13  47239.604900
14  46743.522324
15  47581.960492
16  44361.418639
17  46377.081773
18  37986.793477
19  40111.666169
20  39738.679833
21  41460.030868
22  37705.176794
23  32750.071798
24  32798.040169
25  36675.419812
26  36014.792023
27  40654.150943
28  40053.292703
29  40933.459876
             Price  Prediction
2762  50733.769504         NaN
2763  48542.952203         NaN
2764  53558.707845         NaN
2765  55123.861981         NaN
2766  54591.515326         NaN
2767  53260.295341         NaN
2768  57302.646424         NaN
2769  57677.975222         NaN
2770  56427.043125         NaN
2771  57255.306838         NaN
2772  53658.843121         NaN
2773  57252.702185         NaN
2774  56583.849879         NaN
2775  57107.120672         NaN
2776  58788.209679         NaN
2777  58102.191426         NaN
2778  55715.546651         NaN
2779  56573.555472         NaN
2780  52147.821187         NaN
2781  49764.132082         NaN
2782  50032.693137         NaN
2783  47885.625255         NaN
2784  45604.615754         NaN
2785  43144.471291         NaN
2786  43196.046480         NaN
2787  39439.237635         NaN
2788  39756.089849         NaN
2789  36921.767808         NaN
2790  37490.941888         NaN
2791  34259.548416         NaN

In [19]:
from pickle import dump
dump(svr_rbf,open("bitcoin_predictor.pkl","wb"))